body {
    /* background-color: #FCFCFC; */
    background-color: rgb(250, 250, 250);
    -webkit-font-smoothing: antialiased;
}

#backBar {
    position: fixed;
    background: white;
    border-color: lightgray;
    border-width: 1px;
    border-style: solid;
    top: 10px;
    left: 10px;
    z-index: 10;
}

#backBarTitle {
    font-size: 17px;
    font-family: sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #666;
}

.mainSheet {
    padding-bottom: 20px;
    margin: 0 auto;
    max-width: 800px;
    padding-top: 75px;
}


/* --------------------- */
/* Overall Announcements */
/* --------------------- */
.mainAnnouncementsHeader {
    width: 100%;
    text-align: center;
    font-size: 35;
    font-weight: 600;
    color: #333;
    padding-bottom: 15px;
    padding-top: 15px;
}

.mainAnnouncementsSubtitle {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-size: 15;
    font-weight: 400;
    color: #999;
    padding-bottom: 15px;
    padding-top: 15px;
}

.announcementsHeader {
    width: 100%;
    text-align: center;
    font-size: 30;
    font-family: Georgia;
    font-weight: 600;
    padding-top: 15px;
    padding-bottom: 20px;
}

.placeRow {
    width: 100%;
    text-align: center;
}

.chapterNameTable {
    display: inline;
}

.mainSheet table {
    border-collapse: separate;
}

.contentTable {
    margin: 0 auto;
    border-collapse: collapse;
}

.contentRow > td {
    padding-top: 15px;
    padding-bottom: 15px;
}

.row {
    margin: 0 auto;
}

/* ----------------- */
/* Announcement card */
/* ----------------- */

.announcementCard {
    background-color: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 15px;
}

.announcementHeader h1 {
    font-size: 20px;
    font-style: bold;
    margin-top: 0px;
}

.announcementHeader h2 {
    font-size: 12px;
    /* font-style: italic; */
    font-style: normal;
    margin: 0px;
}

.announcementBody {
    margin-top: 10px;
    margin-bottom: 0px;
}

.announcementBody p {
    font-size: 14px;
}

.disclosureIndicator {
    width: 7.5px;
    margin-left: 1px;
    margin-right: 15px;
}

.aBlock {
    display: block;
}

span.loading {
    width: 100%;
    text-align: center;
}

.loading {
    text-align: center;
}

.footer {
    padding-top: 1rem;
    padding-bottom: 6rem;
}

.copyright {
    margin: 34px 0;
    margin-left: 12px;
    display: inline-block;
    color: #90949C;
    /* text-transform: uppercase; */
    font-size: 11px;
    font-weight: 500;
    vertical-align: top;
}

.footer p a {
    color: #4B4F56;
}

.footer p a:hover {
    text-decoration: none;
}

.seal {
    width: 80px;
    display: inline-block;
}

.icons {
    text-align: right;
    margin: 24px 0;
}

.icons a {
    display: inline-block;
    margin: 0 .7rem;
    padding: 4px;
    transition: opacity 0.2s ease;
}

.icons a:hover {
    opacity: 0.7;
}

.icons a img {
    width: 25px;
}


/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199px) {

}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991px) {
    .display-4 {
        font-size: 3.0rem;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767px) {
    .display-4 {
        font-size: 2.7rem;
    }

    .post-content img {
        max-width: 100% !important;
    }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
    .display-4 {
        font-size: 2.3rem;
    }
}


@media (min-width: 768px) {
    .post-content img {
        max-width: 75% !important;
    }
}

@media (min-width: 992px) {
    .container {
        /* max-width: 960px !important; */
    }

    .my-fluid-container {
        max-width: 100% !important;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .my-fluid-container .col-lg-9 {
        padding: 0 5%;
    }
}

@media (min-width: 1200px) {
    /* .container {
        max-width: 1140px !important;
    } */
}

